<div href='<%= raw thread_path(id: thread.id, name: thread.mailing_list.name) %>' class='thread-container'>

  <div class='mailing-list-container'>
    <div class='mailing-list'>
      <%= link_to thread.mailing_list.name.split("@").first, mailing_list_path(name: thread.mailing_list.short_name), :class => "name" %>
      <%= link_to follower_url(id: thread.mailing_list.id), :method => :post, :class => "btn btn-default btn-xs fave" do %>
        <span class="glyphicon glyphicon-star"></span>
        <span><%= number_with_delimiter thread.mailing_list.followers.count %></span>
      <% end %>
    </div>
  </div>
  
  <table class="table well bottom-bar">
    <tbody>
      <tr>
        <td><span class='glyphicon glyphicon-time'></span></td>
        <td class='timestamp'><%= time_ago_in_words thread.messages.last.date %> ago</td>
      </tr>

      <tr>
        <td><span class='glyphicon glyphicon-user'></span></td>
        <%- user = thread.messages.last.user %>
        <% if user.kerberos.present? %>
          <td class='kerberos hoverable' data-placement='top' data-original-title='<%= user.full_name %>' data-toggle='popover' data-content='<%= render partial:'kerberos', locals: { user: user } %>'><%= user.name %></td>
        <% else %>
          <td class='kerberos'><%= user.name %></td>
        <% end %>

      </tr>

      <tr>
        <td><span class='glyphicon glyphicon-envelope'></span></td>
        <td class='subject'><%= thread.subject %></td>
      </tr>
    </tbody>
  </table>

  <div class='thread'>
    <p class='body'><%= thread.messages.last.body %></p>
    <%= link_to thread_path(id: thread.id, name: thread.mailing_list.short_name), :class => "btn btn-primary open" do %>
      Open&nbsp;
      <i class='glyphicon glyphicon-arrow-right'></i>
    <% end %>
  </div>

  <div class='replies'><%= number_with_delimiter thread.messages.count - 1 %> replies</div>

</div>