<section class='message reply' id='reply-<%= reply_counter + 1 %>'>
    <h5 class='number'><a href='#reply-<%= reply_counter + 1 %>'>#<%= reply_counter + 1 %>:</a></h5>
    <h5 class='author'>
      <%= render partial: "user", locals: { user: reply.user } %>
      <span>replies:</span>
      <div class='timestamp'><i class='glyphicon glyphicon-time'></i>&nbsp;&nbsp;<%= reply.date.strftime("%B %d, %Y at %l:%M %p") %></div>
    </h5>
  <div class='body-container'><%= render_email(reply) %></div>
</section>