<article id='thread'>
  <section class='message number' id='root'>
    <h5 class='author'>
      <%= render partial: 'user', locals: { user: @thread.author } %>
      <span>writes:</span>
      <span class='timestamp'><i class='glyphicon glyphicon-time'></i>&nbsp;&nbsp;<%= @thread.date.strftime("%B %d, %Y at %l:%M %p") %></span>
    </h5>
    <h3 class='subject'><%= @thread.subject %></h3>
    <div class='body-container'><%= raw @markdown.render(@thread.messages.first.body) %></div>
    <ol id='messages'>
      <% if @replies.present? %>
        <%= render partial: 'message', collection: @replies, as: :reply %>
      <% end %>
    </ol>
  </section>
</article>